[Unit]
Description=Shadowsocks Server
After=network.target

[Service]
ExecStartPre=/bin/sh -c 'ulimit -n 51200'
ExecStart=/usr/bin/ss-server
Restart=on-abort

[Install]
WantedBy=multi-user.target
